@font-face {
    font-family: GraphikMedium;
    src: url(../fonts/Graphik-Medium.ttf);
}
@font-face {
    font-family: GraphikRegular;
    src: url(../fonts/Graphik-Regular.woff);
}
@font-face {
    font-family: TiemposHeadline;
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

@font-face {
    font-family: Theinhardt;
    src: url(../fonts/Theinhardt-Lt.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: TiemposHeadline;
    font-size: 3em;
}

.fFGraphMed{font-family: GraphikMedium;}
.fFGraphReg{font-family: GraphikRegular;}
.fFTiemposHeadLine{font-family: TiemposHeadline;}
.fFThein{font-family: Theinhardt;}

nav{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    margin-left: 7rem;
    gap: 1em;
}

li{list-style: none;}

a{
    color: unset;
    text-decoration: none;
}

.btnNavigation{
    font-size: .8rem;
}

.centerHeadline{
    margin-right: 3em;
}

.btnStart{
    border: 2px solid #848689;
    padding: .2em 3em;
    margin-right: 5em;
    font-size: .9rem;
}

.arti1{
    height: 110vh;
    display: flex;
    flex-direction: column;
}

.arti1 h1{
    margin: 1.5em auto;
    text-align: center;
    font-size: 2rem;
    color: #3D3E41;
}

.arti1Conta{
    display: flex;
    justify-content: flex-start;
    margin-top:9em;
    color: #2B2C2E;
}

.arti1Conta1Conte{
    width: 44%;
    margin-left: 7em;
    word-spacing: 3px;
    line-height: 24px;
}

.arti1Conta2Conte{
    font-size: 3rem;
    width: 12%;
    margin-left: 2em;
}
.arti1Conta2Conte p:nth-of-type(2){  
    font-size: .9rem;
    color: #9FA2A7;
}

.arti2{
    height: 100vh;
    display: flex;
}

.arti2 img{
    width: 50%;
    margin-left: 5em;
    padding: 8em 3em;
}

.arti h2{
    margin-bottom: 1.5em;
}

.arti2Conta{
    margin-top: 8em;
}

.arti2ContaConte h3{
    margin-bottom: 1em;
    font-size:1.5rem;
    font-family: GraphikMedium;
}

.arti2ContaConte p{
    width: 72%;
    margin-bottom: 3em;
    color: #3D3E41;
}

.screenThree{
    height: 70vh;
    background-color: rgba(211, 211, 211, 0.404);
    display: flex;
    margin: 5em 8em;
}

.screenThreeContainer{
    margin: 5em 5em;
}

.screenThreeContainer ol{
    margin-left: 2em;
    margin-bottom: 2em;
    list-style-type: decimal;
}

.screenThree h2{
    margin-bottom: .4em;
}

.screenThree ol li{
    list-style-type: decimal;
    line-height: 1.2em;
    color: #3D3E41;
}

.screenThree p{
    color: #3D3E41;
}

.screenThree img{
    width: 49%;
}

.screenFour{
    border-bottom: 2px solid rgba(211, 211, 211, 0.404);
    height: 100vh;
    margin: 7em 8em 5em 8em;
    background: url(../img/28.png) no-repeat center;
    position: relative;
}

.screenFour h2{
    margin: 2em 0 1em 0;
    text-align: center;
}

.screenFour p{
    color: #3D3E41;
    font-size: 1.1rem;
}

.screenFour p:nth-of-type(1){
    width: 46%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.screenFour p:nth-of-type(2){
    width: 33%;
    margin: 25em 0 0 11em;
    line-height: 35px;
    font-family: GraphikMedium;
}

.screenFour img{
    position: absolute;
    height: 280px;
    width: 592px;
    top: 32em;
    left: 36em;
}

footer{
    height: 25vh;
}

footer h2{
    text-align: center;
}

.footerContainer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footerContainer img{
    height: 80px;
    width: 80px;
}

.footerContainer a{
    margin-left: .3em;
}